.header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 26px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo {
        margin-left: 80px;
        width: 98px;
        height: 98px;
    }

}